dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
addons:
  apt:
    update: true
    packages:
    - python3-gi
    - python3-gi-cairo
    - gir1.2-gtk-3.0
    - libgirepository1.0-dev
before_install:
  - pip install pipenv
install:
  - pipenv install --dev
script:
  - make test
